---
title: Rainettes - The Concept
---

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-6 bigcard concepttxt">
      <p><%= t(:concept)[:p1] %></p>
      <p><%= t(:concept)[:p2] %></p>
    </div>
    <div class="col-xs-12 col-lg-6 bigcard conceptimg">
      <img src="http://placehold.it/950x1000">
    </div>
  </div>
</div>
