---
title: Rainettes - Concept
---

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-lg-6 bigcard concepttxt">
      <% t(:concept).each do |paragraph| %>
      <p class="concepttitle"><%= paragraph[:title] %></p>
      <p><%= paragraph[:text] %></p>
      <% end %>
    </div>
    <div class="col-xs-12 col-lg-6 bigcard conceptimg">
      <%= image_tag "restaurant.png" %>
    </div>
  </div>
</div>
