---
title: Bienvenue chez Rainettes
---

<div class="container-fluid">
  <div class="row news">
    <%= I18n.t(:mainmessage)%>
  </div>
  <div class="row mainimage">
    <%= image_tag "burger.jpg" %>
  </div>
</div>
