---
title: Bienvenue chez Rainettes
---

<div class="container-fluid">
  <div class="row news">
    <%= I18n.t(:mainmessage)%>
  </div>
  <div class="row mainimage">
    <img src="http://placehold.it/1900x1000">
  </div>
</div>
