---
title: Rainettes - Legal
---

<div class="container-fluid mentions">
  <div class="row">
    <div class="col-xs-12 mention-title">
      Mentions Legales
    </div>
    <div class="col-xs-12">
      <p>Le présent site est édité par <%= t(:info)[:companyname] %> enregistrée à Paris sous le numéro <%= t(:info)[:siret] %>.
      L’activité de la société est la restauration de type traditionnelle.</p>

      <p>L’adresse du siège de la société est le <%= t(:info)[:adressesiege] %></p>

      Il est hébergé par la société GitHub ayant son siège à San Fransisco.

      Le directeur de la publication du site est M Maxime Braud.

      <p>Vous pouvez joindre le restaurant pour tout renseignement ou réserver une table au <%= t(:info)[:telephone] %>.</p>

      Ce site utilise des cookies dans le seul but de suivre l’évolution de son audience et ne garde aucune information personnelles sur ses visiteurs.
    </div>
  </div>
</div>
