---
title: Rainettes - Press
---

<div class="container-fluid press-page">
  <div class="row">
    <% t(:press).each do |newspaper| %>
    <div class="col-xs-12 col-sm-6 press-card-holder">
      <div class="row press-card">
        <div class="col-xs-3"><%= image_tag newspaper[:image], class: "pressimage"%></div>
        <div class="col-xs-9">
          <div class="article-review">
            <i class="fa fa-quote-left"></i><%= newspaper[:text] %>
          </div>
          <div class="article-name">
            <%= newspaper[:name] %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

