.footer{
  background: $brandcolor;
  text-align: center;
  // padding: 1em 0;
  a{
    color: #333333;
    &:hover{
      color: $gray-darker;
      text-decoration: none;
    }
  }
  i{
    font-size: 26px;
    padding: 0 0.4em;
  }
  p{
    margin-bottom: 0;
    line-height: 26px;
  }
}

.footelement{
  padding: 1em 0;
  min-height: 8vh;
}
