// .navrow{
//   display: flex;
//   align-items: center;
// }

.navbar{
  background: $red;
  padding: 0 1em;
  text-align: center;
  a{
    color: white;
    &:hover{
      color: $gray-lighter;
      text-decoration: none;
    }
  }
}

.navlink{
  padding: 2em;
}

.navlogo{
  // img{
  //   width: 100%;
  // }
}

