// .navrow{
//   display: flex;
//   align-items: center;
// }

.navbar{
  background: $red;
  padding: 0 1em;
  text-align: center;
  margin-bottom: 0;
  a{
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: 600;
    font-size: 18px;
    font-family: "Raleway", "Open Sans", "Sans Serif";

    &:hover{
      color: #e6e6e6;
      text-decoration: none;
    }
  }
}

.navlink{
  padding: 2em;
}

.navlogo{
  // img{
  //   width: 100%;
  // }
}

