.bigcard{
  // min-height: 70vh;
  img{
    width: 100%
  }
}

.conceptimg{
  padding-left: 0;
  padding-right: 0;
}

.concepttxt{
  padding: 2em 3em 0em 3em;
  text-align: justify;
  font-size: 14px;
}

.concepttitle{
  color: $brandcolor;
  font-weight: 600;
}
