<nav class="navmenu footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 footelement addressfooter">
        <p><%= t(:address) %></p>
      </div>
      <div class="col-xs-12 col-sm-4 footelement">
        <% t(:social).each do |name, url| %>
          <% link_to url, :target => "_blank" do %>
            <i class="fa fa-<%= name %>"></i>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 footelement">
        <% link_to t(:switch)[:url] do %><p><%= t(:switch)[:text] %></p><% end %>
      </div>
    </div>
  </div>
</nav>
