<nav class="navmenu footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-4 footelement">
        Adresse
      </div>
      <div class="col-xs-12 col-sm-4 footelement">
        Snapchat
      </div>
      <div class="col-xs-12 col-sm-4 footelement">
        <a href="">Mentions Légales</a>
      </div>
    </div>
  </div>
</nav>
