<nav class="navmenu footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-4 footelement">
        <p>11 rue de la Cuisse, Paris</p>
      </div>
      <div class="col-xs-12 col-sm-4 footelement">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
      </div>
      <div class="col-xs-12 col-sm-4 footelement">
        <p>
          <a href=""><%= t(:nav)[:legal] %></a>
        </p>
      </div>
    </div>
  </div>
</nav>
