<nav class="navmenu navbar">
  <div class="container-fluid">
    <div class="row navrow">
      <div class="visible-xs visible-sm col-xs-12 navlogo">
        <% link_to "index.html" do %>
          <img src="http://placehold.it/200x90">
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 navlink">
        <%= link_to t(:nav)[:concept], "concept.html" %>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 navlink">
        <%= link_to t(:nav)[:menu], "menu.html" %>
      </div>
      <div class="hidden-xs hidden-sm col-xs-4 navlogo">
        <% link_to "index.html" do %>
          <img src="http://placehold.it/200x90">
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 navlink">
        <%= link_to t(:nav)[:press], "press.html" %>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 navlink">
        <%= link_to t(:nav)[:info], "info.html" %>
      </div>
    </div>
  </div>
</nav>
