<nav class="navmenu navbar">
  <div class="container-fluid">
    <div class="row navrow">
      <div class="visible-xs visible-sm col-xs-12 navlogo">
        <img src="http://placehold.it/200x90">
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 navlink">
        <a href="">CONCEPT</a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 navlink">
        <a href="">MENU</a>
      </div>
      <div class="hidden-xs hidden-sm col-xs-4 navlogo">
        <img src="http://placehold.it/200x90">
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 navlink">
        <a href=""><%= t(:nav)[:press] %></a>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-2 navlink">
        <a href="">INFOS</a>
      </div>
    </div>
  </div>
</nav>
