---
title: Le Wagon Middleman boilerplate
---

<div class="welcome text-center padded">
  <h1>Rainette</h1>
  <p class="doc">
    <%= link_to "Bientot en ligne", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
