---
title: Bienvenue chez Rainettes
---

<div class="container-fluid">
  <div class="row news">
    Ouvert de 10h à 22h du Lundi au Samedi.
  </div>
  <div class="row mainimage">
    <img src="http://placehold.it/1900x1000">
  </div>
</div>
